# Environment variables
.env

# Virtual environment
venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm and other IDE files
.idea/
*.swp
*.swo
*.swn

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Log files
*.log

# Other common files to ignore
*.bak
*.tmp
*.temp
